<nav class="navbar navbar-light bg-light">
  <div style="display: flex">
    <div>
      <a class="navbar-brand">
        <img class="gb_Va" src="https://www.gstatic.com/android/market_images/web/play_prism_hlock_2x.png" style="width:183px;height:39px">
      </a>
    </div>
    <div style="margin-left: 50px;margin-top: 5px;">
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="width: 500px">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<div style="display:flex; font-size: 25px;">
  <div id="entertainmentHeading">
    <span class="entertainmentIcon">
      <i class="fa fa-windows" aria-hidden="true"></i>
    </span>
    <span>Entertainment</span>
  </div>
  <div style="width:80%; margin-top: 10px">
    <span class="btnFltRt" style="margin-left: 25px;">
      <button type="button" class="btn btn-default btndefaultProp">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
    </span>
    <span class="btnFltRt">
      <button type="button" class="btn btn-default btndefaultProp">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</div>

<new-carousel></new-carousel>